@{
    ViewBag.Title = "About";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="title">@ViewBag.Title</h2>
    </div>
    <div class="panel-body">
        <p>
            <h3>@ViewBag.Message</h3>
        </p>
    </div>
</div>
