@{
    ViewBag.Title = "Home Page";
}

<div>
    <img class="portrait" src="http://www.ystari.com/wp-content/uploads/2015/08/Shakespeare.png" />

    <div class="panel panel-home">
        <div class="panel-heading">
            <h1>
                Shakespeare says...
            </h1>
        </div>
        <div class="panel-body">
            <ul>
                @foreach (var sonnet in ViewBag.sonnetList)
                  {
                    <li>
                        <a href="/Sonnet/@sonnet.NewUrl">@sonnet.NewUrl</a>
                    </li>
                   }
            </ul>            
        </div>
        <a href="@Url.Action("Create", "Bookmark")" class="btn btn-toolbar">
            [ <span class="glyphicon glyphicon-plus"></span>
            Add Your Own ]
        </a>
    </div>
</div>
