body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*------------------------------------*/

body {
    padding-bottom: 130px;
    font-family: 'EB Garamond', serif;
}

a {
    color: #0c0c0c;
    font-weight: 800;
}

.portrait {
    max-width: 40%;
    float: left;
    bottom: 0;
}

.navbar {
    background-color: #0c0c0c;
    padding-top: 40px;
    padding-bottom: 80px;
}

.panel-home {
    background-color: transparent;
    color: #0c0c0c;
    float: right;
    margin-right: 5%;
    border: none;
    width: 50%;
}

    .panel-home a {
        color: #0c0c0c;
        font-weight: 800;
    }

    .panel-home li {
        padding: 15px;
    }

.title {
    font-family: 'Homemade Apple', cursive;
}

.panel-default {
    background-color: transparent;
    color: #0c0c0c;
    border: none;
}

.panel-default .panel-heading {
    background-color: transparent;
    color: #0c0c0c;
    font-size: large;
}

.panel-scroll {
    max-height: 400px;
    overflow: scroll;
    overflow-x: hidden;
}
